.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.todolist_component {
    width: 100%;
    max-width: 600px;
    padding: 0 2rem;
}

.todolist_component .textbox {
    display: flex;
}

.todolist_component .textbox input {
    padding: 1rem;
    width: 100%;
    flex: 1;
    border-radius: 100px;
    border: none;
}

.todolist_component .textbox input:focus {
    outline-color: var(--primary-color);
}

.todolist_component .textbox .btn_submit {
    background-color: var(--primary-color);
    color: #fff;
    outline: none;
    border: none;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin: 0 .5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.todolist_component .todolist .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    padding: .5rem 1rem;
    margin-top: 1rem;
    margin-right: .8rem;
    border-radius: 5px;
    overflow: hidden;

}

.todolist_component .todolist .todo > .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
}

.todolist_component .todolist .todo .todo_action {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.todolist_component .todolist .todo .todo_action.delete {
    color: #f54f4f;
    margin-left: .5rem;
}

.todolist_component .todolist .todo .todo_action.edit {
    color: #12c77b;
    margin-left: .5rem;
}

.todolist_component .colors {
    display: flex;
    margin: 1rem 0;
}

.todolist_component .colors .color {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin-right: 1rem;
}
.tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .8rem 0;
}

.btn{
    background-color: blue;
    color: #fff;
    border: none;
    outline: none;
    padding: .8rem;
    border-radius: 5px;
    margin-right: 10px;
    transition: all .3s ease;
}
.btn:disabled{
    opacity: 0.5;
}
.btn:active{
    transform: scale(.8);
}

.skeleton{
    text-align: center;
    padding-top: 2rem;
}